@import "../variables.scss";

.add-edit-component {
  .workspace-content {
    margin: 10px 10px 10px 10px;
  }
}

.workspaces-none {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}

.user-select-item {
  display: flex;
}

.list-item-description {
  word-wrap: anywhere;
}

.table-header {
  display: flex;
  margin: 15px 0px 0px 0px;
  padding: 0px 15px 15px 15px;
  border-bottom: solid 1px $tableHeaderColor;
}

.list-item {
  padding: 20px 10px;
  border-bottom: solid 1px $listItemBorderColor;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: $listItemBackgroundColor;
}

.user-spinner {
  margin: 0px 0px 0px 10px;
}

.workspace-item-last {
  border-bottom: none;
}

.stripe-non {
  background: $tableStripeNonColor;
}

.stripe {
  background: $tableStripeColor;
}
