@import "../variables.scss";

.users-none {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}

.table-header {
  display: flex;
  margin: 15px 0px 0px 0px;
  padding: 0px 15px 15px 15px;
  border-bottom: solid 1px $tableHeaderColor;
}

.user-role {
  padding: 20px 10px;
  border-bottom: solid 1px $listItemBorderColor;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: $listItemBackgroundColor;
}

.user-content-form {
  margin: 10px 10px 10px 10px;
}

.userrole-select-item {
  display: flex;
}

.details-flex {
  display: flex;
}

.user-role-last {
  border-bottom: none;
}

.item-content {
  word-wrap: anywhere;
}

.header-flex {
  display: flex;
}

.list-item {
  padding: 20px 10px;
  border-bottom: solid 1px $listItemBorderColor;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: $listItemBackgroundColor;
}

.stripe-non {
  background: $tableStripeNonColor;
}

.stripe {
  background: $tableStripeColor;
}
