<div class="about-component">
    <div class="about-header">
        <fa-icon [icon]="faAddressCard"></fa-icon>
        <span>&nbsp;</span>
        <span>SimpleTodo</span>
    </div>
    <div class="list-details list-details-about">
        <div class="item-header">
            <fa-icon [icon]="faCodeBranch"></fa-icon>
            <span>&nbsp;</span>
            <span>Version</span>
        </div>
        <div class="item-content">
            {{ version }}
        </div>
        <div class="item-header">
            <fa-icon [icon]="faUserEdit"></fa-icon>
            <span>&nbsp;</span>
            <span>Developer</span>
        </div>
        <div class="item-content">
            Denis Meyer
        </div>
        <div class="item-header">
            <fa-icon [icon]="faBug"></fa-icon>
            <span>&nbsp;</span>
            <span>Problem reporting</span>
        </div>
        <div class="item-content about-item-last">
            <a href="https://github.com/CallToPower/SimpleTodoNg/issues" target="_blank" class="normal-link">Bug and issue tracker</a>
        </div>
    </div>
</div>