<div class="add-edit-component">
    <div class="header">
        <h1 *ngIf="isAddMode">{{ i18nService.translate('todos.addedit.component.add', 'Add Todo') }}</h1>
        <h1 *ngIf="!isAddMode">{{ i18nService.translate('todos.addedit.component.edit', 'Edit Todo') }}</h1>
    </div>
    <div class="todo-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="msg">{{ i18nService.translate('todos.addedit.component.message', 'Text') }}</label>
                    <input type="text" formControlName="msg" class="form-control" placeholder="{{ i18nService.translate('todos.addedit.component.placeholder.message', 'Enter text') }}"
                        [ngClass]="{ 'is-invalid': submitted && f.msg.errors }" [attr.disabled]="loading || null" />
                    <div *ngIf="submitted && f.msg.errors" class="invalid-feedback">
                        <div *ngIf="f.msg.errors.required">{{ i18nService.translate('todos.addedit.component.validation.required.message', 'Text is required') }}</div>
                        <div *ngIf="f.msg.errors.maxlength">{{ i18nService.translate('todos.addedit.component.validation.max.message', 'Text can be at most 1024 characters') }}</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="url">{{ i18nService.translate('todos.addedit.component.url', 'URL') }}</label>
                    <input type="text" formControlName="url" class="form-control" placeholder="{{ i18nService.translate('todos.addedit.component.placeholder.url', 'Enter URL') }}"
                        [ngClass]="{ 'is-invalid': submitted && f.url.errors }" [attr.disabled]="loading || null" />
                    <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                        <div *ngIf="f.url.errors.maxlength">{{ i18nService.translate('todos.addedit.component.validation.max.url', 'URL can be at most 1024 characters') }}</div>
                    </div>
                </div>
            </div>
            <div class="form-row form-row-space">
                <div class="form-group col">
                    <label for="done-check">{{ i18nService.translate('todos.addedit.component.mark_done', 'Check to mark as done') }}</label><br />
                    <input type="checkbox" id="done-check" formControlName="done" class="checkbox"
                        [ngClass]="{ 'is-invalid': submitted && f.done.errors }" [attr.disabled]="loading || null" />
                </div>
            </div>
            <div class="form-row form-row-space">
                <div class="form-group col">
                    <button type="button" class="btn btn-outline-primary" (click)="dueDateCollapsed = !dueDateCollapsed"
                        [attr.aria-expanded]="!dueDateCollapsed" aria-controls="collapseExample"
                        [attr.disabled]="loading || null">
                        {{ i18nService.translate('todos.addedit.component.set_due_date', 'Set a due date') }}
                    </button>
                    <div id="collapse-due-date" [ngbCollapse]="dueDateCollapsed">
                        <div class="card">
                            <div class="card-body">
                                <div class="due-date">
                                    <label for="dueDate">{{ i18nService.translate('todos.addedit.component.due_date', 'Due date') }}</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                            formControlName="dueDate" ngbDatepicker #d="ngbDatepicker"
                                            [attr.disabled]="loading || null" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                type="button">
                                                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="due-time">
                                    <label for="dueTime">{{ i18nService.translate('todos.addedit.component.due_time', 'Due time') }}</label>
                                    <ngb-timepicker formControlName="dueTime" [seconds]="true"></ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary btn-std-1">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    {{ i18nService.translate('todos.addedit.component.action.save', 'Save') }}
                </button>
                <a routerLink="/workspaces/{{wsId}}/lists/{{lsId}}/todos" class="btn btn-link">{{ i18nService.translate('todos.addedit.component.action.cancel', 'Cancel') }}</a>
            </div>
        </form>
    </div>
</div>