<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ header }}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="modal-text">
        {{ text }}
        <span *ngIf="loading"><br /></span>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </div>
    <div *ngIf="lists.length <= 0" class="lists-none">
        <div *ngIf="!loading">
            {{ i18nService.translate('move-todo.modal.lists_none', 'No other lists in this workspace, yet.') }}
        </div>
    </div>
    <div *ngIf="lists.length > 0">
        <div *ngFor="let list of lists; let i = index">
            <div class="list-item" [class.stripe-non]="i % 2 != 0" [class.stripe]="i % 2 == 0"
                (click)="modal.close(list)">
                <div class="list-item-description">
                    {{ list.name }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">{{ i18nService.translate('move-todo.modal.action.cancel', 'Cancel') }}</button>
</div>