<div class="resetpassword">
    <div class="header">
        <h1>{{ i18nService.translate('resetpassword.component.reset_password', 'Reset Password') }}</h1>
    </div>
    <div class="resetpassword-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">{{ i18nService.translate('resetpassword.component.username', 'Username') }}</label>
                <input type="text" formControlName="username" class="form-control" placeholder="{{ i18nService.translate('resetpassword.component.placeholder.enter_username', 'Enter username') }}"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [attr.disabled]="loading || null" id="autofocus" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">{{ i18nService.translate('resetpassword.component.validation.required.username', 'Username is required') }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{ i18nService.translate('resetpassword.component.email', 'Email address') }}</label>
                <input type="text" formControlName="email" class="form-control" placeholder="{{ i18nService.translate('resetpassword.component.placeholder.enter_email', 'Enter email address') }}"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [attr.disabled]="loading || null" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ i18nService.translate('resetpassword.component.validation.required.email', 'Email address is required') }}</div>
                </div>
                <a routerLink="../entertoken" class="btn btn-link btn-small">{{ i18nService.translate('resetpassword.component.action.has_token', 'Already have a token?') }}</a>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary btn-std-1">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    {{ i18nService.translate('resetpassword.component.action.reset_password', 'Reset password') }}
                </button>
                <a routerLink="../signin" class="btn btn-link">{{ i18nService.translate('resetpassword.component.action.sign_in', 'Sign in') }}</a>
            </div>
        </form>
    </div>
</div>