<div class="toolbar" role="banner">
  <div class="toolbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <fa-icon [icon]="faHome" class="fa-lg"></fa-icon>
      <span>&nbsp;</span>
      <span>SimpleTodo</span>
    </a>
  </div>
  <div class="spacer"></div>
  <div *ngIf="!user">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <fa-icon [icon]="faAddressCard" class="fa-lg"></fa-icon>
        <span>&nbsp;</span>
        <span *ngIf="isMin">About</span>
      </a>
    </div>
  </div>
  <div *ngIf="user">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">
        <fa-icon [icon]="faAddressBook" class="fa-lg"></fa-icon>
        <span *ngIf="isMin">&nbsp;</span>
        <span *ngIf="isMin">Users</span>
      </a>
      <div class="space"></div>
      <a class="nav-item nav-link" routerLink="/workspaces" routerLinkActive="active">
        <fa-icon [icon]="faTh" class="fa-lg"></fa-icon>
        <span *ngIf="isMin">&nbsp;</span>
        <span *ngIf="isMin">Workspaces</span>
      </a>
      <div class="space"></div>
      <div class="nav-item nav-link" ngbDropdown>
        <a ngbDropdownToggle>
          <fa-icon [icon]="faUserCircle" class="fa-lg"></fa-icon>
          <span *ngIf="isMin">&nbsp;</span>
          <span *ngIf="isMin">Menu</span>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div ngbDropdownItem>
            <a class="nav-item nav-link nav-link-dropdown" routerLink="/users/{{user.id}}">
              <fa-icon [icon]="faUser" class="fa-lg"></fa-icon>
              <span>&nbsp;</span>
              <span>{{ user.username }}</span>
            </a>
          </div>
          <div class="dropdown-divider"></div>
          <div ngbDropdownItem>
            <a class="nav-item nav-link nav-link-dropdown" routerLink="/about">
              <fa-icon [icon]="faAddressCard" class="fa-lg"></fa-icon>
              <span>&nbsp;</span>
              <span>About</span>
            </a>
          </div>
          <div class="dropdown-divider"></div>
          <div ngbDropdownItem>
            <a class="nav-item nav-link nav-link-dropdown" (click)="signout()">
              <fa-icon [icon]="faSignOutAlt" class="fa-lg"></fa-icon>
              <span>&nbsp;</span>
              <span>Sign out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" role="main">

  <div class="content-row">
    <div class="content-item">
      <alert></alert>
    </div>
    <div class="content-item">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div class="account-not-verified" *ngIf="loaded && user && !user.statusVerified">
    Your email address is not verified, yet. Please check your emails and visit <a routerLink="/users/{{user.id}}/verify"
      class="error-link">Account verification</a>.
  </div>
  <div class="break" *ngIf="loaded && user && !user.statusVerified"></div>
  <div routerLink="/about" class="black-link">
    SimpleTodo {{ version }}
  </div>
</footer>