$mainColor: #1976d2;
$secondaryColor: #86b9eb;
$tertiaryColor: #215a92;
$borderColor: #e3e3e3;
$backgroundColor: #ffffff;
$toolbarNavbarTextColor: #ffffff;
$tableHeaderColor: #cccccc;
$listItemBorderColor: #cccccc;
$listItemBackgroundColor: #ffffff;
$tableStripeNonColor: #ffffff;
$tableStripeColor: #f1f1f1;
$tableStripeNonHiddenColor: #8ed1976c;
$tableStripeHiddenColor: #8ed19734;
$hostColor: #333333;
$blackLinkColor: #000000;
$blackLinkHoverColor: #525252;
$deleteLinkColor: #ff7474;
$deleteLinkHoverColor: #b41313;
$dropdownActiveColor: #f8f9fa;
$errorTextColor: #ff4d4d;
$errorLinkColor: #ff4d4d;
$errorLinkHoverColor: #fc7575;
